<!-- <router-outlet /> -->

<div>
    <h1>¿Qué me parece Angular?</h1>
    <p>
      Angular es un framework de desarrollo web de código abierto mantenido por Google. Es una herramienta poderosa para construir aplicaciones web dinámicas de una sola página, ofreciendo una estructura sólida y funcionalidades robustas que facilitan el desarrollo, mantenimiento y escalabilidad del proyecto. Su sistema de módulos permite a los desarrolladores reutilizar código de manera eficiente, lo que hace que sea una opción popular para proyectos de todos los tamaños.
    </p>
    <p>
      Una de las mayores ventajas de Angular es su capacidad para crear interfaces de usuario altamente interactivas. Gracias a sus componentes y directivas, los desarrolladores pueden construir elementos personalizados y reutilizables, lo que acelera el proceso de desarrollo y mejora la coherencia en la interfaz de usuario. Además, Angular ofrece un poderoso sistema de inyección de dependencias que facilita la gestión del código y mejora la eficiencia general del desarrollo.
    </p>
    <p>
      Sin embargo, Angular puede tener una curva de aprendizaje pronunciada, especialmente para los desarrolladores que son nuevos en frameworks front-end o que provienen de bibliotecas más ligeras como React o Vue.js. La sintaxis y los conceptos avanzados como la reactividad, el enrutamiento y el manejo del estado pueden ser desafiantes al principio. No obstante, una vez dominados, estos conceptos permiten a los desarrolladores construir aplicaciones muy avanzadas y escalables.
    </p>
    <p>
      Otra consideración importante es la comunidad activa y el soporte que Angular recibe. Al ser un proyecto respaldado por Google, tiene una base sólida y un ciclo de lanzamiento regular que introduce mejoras y nuevas características constantemente. La documentación oficial es extensa y existen numerosos recursos, tutoriales y foros en línea que ayudan a los desarrolladores a resolver problemas y aprender buenas prácticas.
    </p>
    <p>
      En resumen, Angular es una excelente elección para aquellos que buscan un framework completo para desarrollar aplicaciones web complejas y escalables. Su robusta estructura y conjunto de herramientas facilitan el desarrollo de aplicaciones interactivas y de alto rendimiento, aunque puede requerir un tiempo considerable para aprender y dominar todas sus capacidades.
    </p>
    <!--! Si yo estoy arriba de todo, es necesario cargar el componente app-comments ?. 
    No, para ello usamos la carga diferida. Podemos ver gráficamente la carga de recursos en el apartado de waterfall en pestaña de network de chrome devtools. Lo que hace la directiva @defer es indicarle al cliente que cargue app-comments de manera diferida (es decir cuándo la CPU no tenga trabajo), por lo que ahora va después de la línea roja del waterfall. También coloca al componente con un prioridad baja(en la columna priority: Low)   -->
    @defer (on viewport) {  <!--! al colocar on viewport(puede ir sin el (on viewport)). El on viewport es una directiva que indica que el componente se cargará cuando esté en el viewport del usuario -->
      <app-comments></app-comments>
      <!--! Es el hueco que se muestra cuándo no se está el componente todavúa, pero tampoco se está cargando -->
    } @placeholder {
      <p>futuros Comentarios</p>
    } @loading { <!--! Es el hueco que se muestra cuándo se está cargando el recurso -->
      <p>Cargando...</p>
    }
  </div>

  
